/* -------------------------------------------------------------------------- */

/*                              Preload animation                             */

/* -------------------------------------------------------------------------- */


.preloader {
    position:           fixed;
    width:              100%;
    height:             100vh;
    background:         var(--navBackgroundDark);
    left:               0;
    top:                0;
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    justify-content:    center;
    transition:         all 400ms;
    z-index:            2000;
  }
  
  .preloader.hide {
    opacity:            0;
    pointer-events:     none;
  }

  .preloader .dots-container {
    display:            flex;
    margin-bottom:      48px;
  }
  
  .loading * {
    display:            none;
  }
  
  .loaded .dots-loader {
    opacity:            0;
    z-index:            -1;
    pointer-events:     none;
    transform:          scale(0);
  }

  .circle-line {
    z-index:            9999;
    width:              200px;
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    center;
}

.circle-red, .circle-blue, .circle-black{
    position:           relative;
    width:              16px;
    height:             16px;
    border-radius:      30px;
    margin:             5px;
}

.circle-red {
    background-color:   #FF3E60;
    animation:          movingUp 0.5s infinite alternate;
}

.circle-blue {
    background-color:   #2D74FF;
    animation:          movingUp 0.5s 0.2s infinite alternate; 
}

.circle-black {
    background-color:   #515758;
    animation:          movingUp 0.5s .5s infinite alternate;
}

/* CSS ANIMATION */

@keyframes movingUp {
    from {top: 0px;}
    to {top: -30px;}
}