/* -------------------------------------------------------------------------- */
  
/*                              Navbar Color Change                           */
  
/* -------------------------------------------------------------------------- */


.dark-bg-text {
transition: 500ms ease;
}

/* -------------------------------------------------------------------------- */

/*                                  Project                                   */

/* -------------------------------------------------------------------------- */

.project-head-section {
  height:             125rem;
  background-color: rgb(255, 255, 255);
  position:           fixed;
  top:                0;
  left:               0;
  width:              100%;
  height:             75vh;
  justify-content:    center;
  align-items:        center;
  display:            flex;
  box-shadow:         rgb(50 50 93 / 0%) 0px 30px 60px -12px inset, rgb(0 0 0 / 65%) 1px -5px 36px -18px inset;
  background-size:    cover;
}


@media (max-width: 991.98px)  {
  .project-details {
    margin-bottom:     32px;
  }  
}

@media (min-width: 992px)  {
  .project-details + .project-details {
    margin-top:     32px;
  }  
}

.project-detail:nth-child(1) {
  font-weight:    600;
  font-size:      12px;
}

.project-detail:nth-child(2) {
  font-weight:    400;
  font-size:      16px;
}

.project-headline {
  margin-bottom:  42px;
}

.make-me-sticky {
  position:       -webkit-sticky;
  position:       sticky;
  top:            10rem;
  margin:         .5rem 0 2rem;
}

.sticky-section {
  color: var(--fontColor);
}

.project-text {
  color: var(--fontColor);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 992px) {
.w-lg-65 {
    width: 65%!important;
}}

.bg-light {
  background-color: var(--backgroundLightSecond) !important;
}

.dark-theme .bg-light {
  background-color: var(--navBackgroundDark) !important;
}

.blockquote-lg {
  font-size: 1.75rem;
}

.blockquote {
  color: var(--fontColor);
}

.blockquote-footer {
  font-weight: 600;
  line-height: normal;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  color: var(--fontColor);
}

.project-content-section {
    background:          linear-gradient(180deg,  #fff 0%, #E9ECF0 100%);
    top:                 75vh;
}

.dark-theme .project-content-section {
  background:          var(--black);
  top:                 75vh;
}

.animation-header {
  color: #fff;
}


/* -------------------------------------------------------------------------- */

/*                                  Article                                   */

/* -------------------------------------------------------------------------- */

.avatar {
  position:         relative;
  display:          inline-block;
  width:            3.125rem;
  height:           3.125rem;
  border-radius:    50%;
}


.text-cap {
  display: block;
  color: #1e2022;
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: .03125rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}


.btn-xs {
  font-size: 12px;
  padding: 12px 16px;
  color: var(--fontColor);
}

.btn-soft-secondary {
  color: var(--fontColor);
  background-color: var(--navBackgroundDark);
  border-color: transparent;
  border-radius: var(--borderRadius);
}





/* -------------------------------------------------------------------------- */

/*                                 Icons                                      */

/* -------------------------------------------------------------------------- */


.icon-bt {
  font-size: 24px;
}

/* -------------------------------------------------------------------------- */

/*                                 Heart                                      */

/* -------------------------------------------------------------------------- */

.heart {
  fill:         red;
  top:          15px;
  width:        16px;
}

#counterHeart {
  position:     absolute;
  bottom:       30px;
  height:       10px;
  padding-left: 0rem;
  font-size:    13px;
  width:        10px;
  color:        #f44336;
  font-weight:  700;
  line-height:  0.8125rem;
}





/* -------------------------------------------------------------------------- */
  
/*                               Tricky footer                                */
  
/* -------------------------------------------------------------------------- */


.footer-project {
  padding: 50px;
  width: 100%;
  position: relative;
  margin-top: 25rem;
}

.footer-icon {
font-size:        24px;
font-weight:      600;
color:            var(--fontColor);
}        
