/* -------------------------------------------------------------------------- */

/*                                  Project                                   */

/* -------------------------------------------------------------------------- */


.project-subhead {
    color:              var(--fontColor);
}

.project-head-section {
    height:             125rem;
    background-color: rgb(255, 255, 255);
    position:           fixed;
    top:                0;
    left:               0;
    width:              100%;
    height:             75vh;
    justify-content:    center;
    align-items:        center;
    display:            flex;
    box-shadow:         rgb(50 50 93 / 0%) 0px 30px 60px -12px inset, rgb(0 0 0 / 65%) 1px -5px 36px -18px inset;

}

.project-content-section {
    background-color:  #fff;
    top:                 75vh;
    z-index:            9999;
}



/* -------------------------------------------------------------------------- */

/*                      Vertical progress bar on scroll                       */

/* -------------------------------------------------------------------------- */


.progress-container {
  position:     fixed;
  bottom:       0;
  left:         0;
  width:        100%;
  height:       8px;
  background: #ccc;
  z-index:       10000;
}

.progress-bar {
  height:       8px;
  background: #04AA6D;
  width:        0%;
}