/* -------------------------------------------------------------------------- */

/*                                sections.css                                */

/* -------------------------------------------------------------------------- */



/*
 *
 * This file contain the base of each section: 
 *
 * Navbar Logo Name..................base style of dynamic logo. 
 * Dark/Light switch.................base style of themes. 
 * Mobile menu.......................base style of mobile menu. 
 * Code Editor Layout................base style of code editor.
 * Section swticher..................base style of section swicher.
 * Toggle switch theme...............base style of toggle chechbox.
 *
 */
  
 

/* -------------------------------------------------------------------------- */
  
/*                              Navbar Logo Name                              */
  
/* -------------------------------------------------------------------------- */

.logo-name {
    color: var(--fontColor);
}


/* -------------------------------------------------------------------------- */
  
/*                             Dark / Light switch                            */
  
/* -------------------------------------------------------------------------- */
  
  
  
  .toggle-nav {
    display:                        flex;
  }
  
  .toggle-nav label {
    position:                       relative;
    display:                        inline-block;
    width:                          40px;
    height:                         20px;
    background-color:               #e1e1e1;
    border-radius:                  50px;
    transition:                     all 0.3s ease-in-out;
    cursor:                         pointer;
    box-shadow:                     inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-tap-highlight-color:    transparent;
    margin-bottom:                  0;
  }
  
  .toggle-nav label:before {
    content:                        "";
    position:                       absolute;
    height:                         20px;
    width:                          20px;
    background-color:               #fff;
    border-radius:                  46px;
    box-shadow:                     1px 1px 5px rgba(0, 0, 0, 0.1);
    transition:                     box-shadow 0.3s ease-in-out;
    animation:                      moveLeft 0.3s ease-in-out;
  }
  
  .toggle-nav input {
    display:                        none;
  }
  
  .toggle-nav input:checked + label {
    background-color:               #57de72;
  }
  
  .toggle-nav input:checked + label:before {
    transform:                      translateX(20px);
    box-shadow:                     -1px -1px 5px rgba(0, 0, 0, 0.1);
    animation:                      moveRight 0.3s ease-in-out;
  }
  @keyframes moveRight {
    0% {
        width:                      23px;
        transform:                  translateX(0);
   }
    45% {
        width:                      26px;
   }
    100% {
        width:                      23px;
        transform:                  translateX(20px);
   }
  }
  @keyframes moveLeft {
    0% {
        width:                      23px;
        transform:                  translateX(20px);
   }
    45% {
        width:                      26px;
   }
    100% {
        width:                      23px;
        transform:                  translateX(0);
   }
  }


/* -------------------------------------------------------------------------- */
  
/*                             Mobile menu squares                            */
  
/* -------------------------------------------------------------------------- */


  .squares {
    border:       none;
    opacity:      1;
    background:   transparent;
  }
  
  .square, .square:before, .square:after {
    position:           absolute;
    width:              .75rem;
    height:             .75rem;
    background-color:   var(--fontColor);
  }
  
  .square {
    margin-left:    -10px;
  }
  
  .square:before, .square:after {
    content: "";
  }
  
  .square:before {
    right:          20px;
    transition:     right .3s ease-out;
  }
  
  .square:after {
    left:           20px;
    transition:     left .3s ease-out;
  }
  
  .mobile-menu-squares-container:hover .square:before {
    right:          -20px;
  }
  
  .mobile-menu-squares-container:hover .square:after {
    left:           -20px;
  }


/* -------------------------------------------------------------------------- */

/*                              Code Editor Layout                            */

/* -------------------------------------------------------------------------- */


.window-editor-layout ul,ol {
    list-style-type:      none;
    margin:               0;
    padding:              0;
  }
  
  .window-editor-layout {
    width:                auto;
    height:               auto;
    margin:               auto;
    background-color:     var(--editorBackground);
    box-shadow:           var(--boxShadow);
    border-radius:        0 0 10px 10px;
  }
  
  .window-editor-layout .window-top {
    display:              flex;
    align-items:          center;
    height:               30px;
    background-color:     var(--editorWindowTop);
  }
  
  .window-editor-layout .window__controls {
    display:              inline-flex;
  }
  
  .window-editor-layout .window__controls span {
    width:                15px;
    height:               15px;
    margin-left:          10px;
    border-radius:        50%;
  }
  
  .window-editor-layout .window__controls span:nth-child(1) {
    background-color:   #ff0000;
  }
  
  .window-editor-layout .window__controls span:nth-child(2) {
    background-color:   #ffcc00;
  }
  
  .window-editor-layout .window__controls span:nth-child(3) {
    background-color:   #36dc0e;
  }
  
  .window-editor-layout.window-editor-layout .window__title {
    flex:                 1;
    text-align:           center;
    color:                var(--editorWindowText);
    border-radius:        10px 10px 0 0;
  }
  
  .window-editor-layout .window-main {
    padding:              0.5em;
    color:              #4e4e4e;
    text-align:           left;
  }
  
  .window-editor-layout .window-main ol {
    counter-reset:        item;
    font-family:          "Source Code Pro", monospace;
  }
  
  .window-editor-layout .window-main ol li {
    margin-bottom:        3px;
  }
  
  .window-editor-layout .window-main ol li:before {
    content:              counter(item) "  ";
    counter-increment:    item;
    padding:              0 10px;
    color:                var(--windowListText);
  }
  
  .window-editor-layout .tag {
    color:              #4d86b9;
  }
  
  .window-editor-layout .attr {
    color:              #8dc6e3;
  }
  
  .window-editor-layout .val {
    color:              #c58b74;
  }
  
  .window-editor-layout .text {
    color:                var(--windowText);
  }
  
  .window-editor-layout .comment {
    color:              #517343;
  }
  
  @media only screen and (max-width: 601px) {
  
      .window-editor-layout .window {
          width:              350px;
          height:             350px;
          font-size:          0.65em;
      }
  
      .window-editor-layout.window__controls span {
          width:              10px;
          height:             10px;
          margin-left:        5px;
      }
  
      .window-editor-layout .window-main ol li:before {
          padding:            0;
      }
  }
  
  .window-editor-layout .line {
      display:            contents;
  }
  

/* -------------------------------------------------------------------------- */
  
/*                              Section swticher                              */
  
/* -------------------------------------------------------------------------- */

.c-details span {
  font-weight:    300;
  font-size:      13px
}

.badge span {
  background-color:   red;
  width:                60px;
  height:               25px;
  border-radius:        5px;
  display:              flex;
  color:              white;
  justify-content:      center;
  align-items:          center
}

.progress {
  height:               10px;
  border-radius:        10px
}

.progress div {
  background-color:   red
}

.text1 {
  font-size:           14px;
  font-weight:         600
}

.text2 {
  color:             #a5aec0
}


/* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
 
.switch-btn {
  display:              block;
  background-color:     transparent;
  border:               0;
  margin-right:         .5rem;
}

.switch-btn button {
  border-radius:        50%;
  width:                2rem;
  height:               2rem;
  border:               none;
  box-shadow:           var(--boxShadow);
}

.switch-btns #light {
  background:       rgb(245,0,0);
  background:         -moz-linear-gradient(163deg, rgba(245,0,0,1) 0%, rgba(210,121,25,1) 100%);
  background:         -webkit-linear-gradient(163deg, rgba(245,0,0,1) 0%, rgba(210,121,25,1) 100%);
  background:         linear-gradient(163deg, rgba(245,0,0,1) 0%, rgba(210,121,25,1) 100%);
  filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr="#f50000",endColorstr="#d27919",GradientType=1);
}

.switch-btns #dark {
  background:       rgb(17,126,207);
  background:       -moz-linear-gradient(163deg, rgba(17,126,207,1) 0%, rgba(1,44,47,1) 100%);
  background:       -webkit-linear-gradient(163deg, rgba(17,126,207,1) 0%, rgba(1,44,47,1) 100%);
  background:       linear-gradient(163deg, rgba(17,126,207,1) 0%, rgba(1,44,47,1) 100%);
  filter:           progid:DXImageTransform.Microsoft.gradient(startColorstr="#117ecf",endColorstr="#012c2f",GradientType=1);
}

.switch-btns #solar {
  background:     rgb(43,244,6);
  background:       -moz-linear-gradient(163deg, rgba(43,244,6,1) 0%, rgba(154,195,167,1) 100%);
  background:       -webkit-linear-gradient(163deg, rgba(43,244,6,1) 0%, rgba(154,195,167,1) 100%);
  background:       linear-gradient(163deg, rgba(43,244,6,1) 0%, rgba(154,195,167,1) 100%);
  filter:           progid:DXImageTransform.Microsoft.gradient(startColorstr="#2bf406",endColorstr="#9ac3a7",GradientType=1);
}

input[type=radio] {
	position:               absolute;
	visibility:             hidden;
} 

label { 
	cursor:                 pointer; 
	font-weight:            400;
}

.check {
	width:                  30px; 
    height:                 30px;
	position:               absolute;
	border-radius:          50%;
	transition:             transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


/* Reset */
input#one ~ .check { 
	transform:              translate(-8px, -25px); 
	background:             black; 
}
input#two ~ .check { 
	transform:              translate(-50px, -83px); 
	background:             var(--primary-c);
	box-shadow:             0 6px 12px rgba(33, 150, 243, 0.35);
}

/* Radio Input #1 */
input#one:checked ~ .check { transform: translate(-50px, 33px); }

/* Radio Input #2  */
input#two:checked ~ .check { transform: translate(-50px, -25px); }


/* -------------------------------------------------------------------------- */
  
/*                                 Google dots                                */
  
/* -------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------- */
  
/*                              Switcher badge                                */
  
/* -------------------------------------------------------------------------- */


.form-wrapper {
    position: relative;
    display: block;
    width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
}
.form-wrapper p {
    font-size: 14px;
    line-height: 1.75;
}
.form-wrapper form {
    position: relative;
    display: block;
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
}
.form-wrapper form label {
    position: relative;
    display: block;
    width: 100%;
    margin: 2px 0 0;
    padding: 10px 0;
}
.form-wrapper form label input[type="radio"] {
    position: relative;
    display: inline-block;
    margin-top: 3px;
    margin-right: 15px;
    font-size: 12px;
    float: left;
    z-index: 1;
}
.form-wrapper form label input[type="radio"]:checked + div span {
    position: absolute;
    display: inline-block;
    left: 100%;
    top: -5px;
    margin: 0 0 0 20px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(34, 34, 34, 0.9);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.2);
    clear: both;
    visibility: visible;
    transform: translateX(0px);
    transition: transform 200ms ease;
}
.form-wrapper form label input[type="radio"]:checked + div span:before {
    position: absolute;
    content: '';
    top: 4px;
    left: -1px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(34, 34, 34, 0.9);
    transform: rotate(45deg);
}
.form-wrapper form label div {
    position: relative;
    display: inline-block;
}
.form-wrapper form label div span {
    position: absolute;
    visibility: hidden;
    transform: translateX(-10px);
    transition: transform 200ms ease;
}
.form-wrapper form label:nth-of-type(1) input[type="radio"]:checked + div span {
    background-color: #2ecc71;
}
.form-wrapper form label:nth-of-type(1) input[type="radio"]:checked + div span:before {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(46, 204, 113, 0.9);
}
.form-wrapper form label:nth-of-type(2) input[type="radio"]:checked + div span {
    background-color: #3498db;
}
.form-wrapper form label:nth-of-type(2) input[type="radio"]:checked + div span:before {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(52, 152, 219, 0.9);
}
.form-wrapper form label:nth-of-type(3) input[type="radio"]:checked + div span {
    background-color: #f1c40f;
}
.form-wrapper form label:nth-of-type(3) input[type="radio"]:checked + div span:before {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(241, 196, 15, 0.9);
}
.form-wrapper form label:nth-of-type(4) input[type="radio"]:checked + div span {
    background-color: #9b59b6;
}
.form-wrapper form label:nth-of-type(4) input[type="radio"]:checked + div span:before {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(155, 89, 182, 0.9);
}
.form-wrapper form label:nth-of-type(5) input[type="radio"]:checked + div span {
    background-color: #e74c3c;
}
.form-wrapper form label:nth-of-type(5) input[type="radio"]:checked + div span:before {
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(231, 76, 60, 0.9);
}
.form-wrapper form button {
    position: relative;
    display: block;
    margin: 40px auto 0;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    z-index: 0;
}
.form-wrapper form button:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #9b59b6;
    border-radius: 5px;
    transition: height, 250ms ease;
    z-index: -1;
}
.form-wrapper form button:hover {
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.3);
}
.form-wrapper form button:hover:before {
    height: 100%;
}


/* -------------------------------------------------------------------------- */
  
/*                              Theme switches                                */
  
/* -------------------------------------------------------------------------- */











/* -------------------------------------------------------------------------- */
  
/*                              Theme switches                                */
  
/* -------------------------------------------------------------------------- */




.bar-container {
    background: #f0f0f0;
    height: 10px;
    width: 100%;
    border-radius: 10px;
  }
.bar-container .bar {
    background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 10px;
    width: 0%;
    border-radius: 10px;
    transition: width 400ms;
  }
.bar-container  .btn {
    outline: none;
    margin: 2em auto;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 1em;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.30);
    cursor: pointer;
    transition: transform 400ms;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-align: center;
  }
.bar-container  .btn:hover {
    transform: translateY(-10px);
  }



/* -------------------------------------------------------------------------- */
  
/*                               Backgrounds                                  */
  
/* -------------------------------------------------------------------------- */

.bg-gradient-sections {

  background:   var(--backgroundFirstSection);
}
