/* -------------------------------------------------------------------------- */

/*                                sections.css                                */

/* -------------------------------------------------------------------------- */



/*
 *
 * This file contain the base of each section: 
 *
 * Navbar Logo Name..................base style of dynamic logo. 
 * Illustrations, backgrounds........illustrations for each section. 
 * Dark/Light switch.................base style of themes. 
 * Mobile menu.......................base style of mobile menu. 
 * Code Editor Layout................base style of code editor.
 * Section swticher..................base style of section swicher.
 *
 */
  
 

/* -------------------------------------------------------------------------- */
  
/*                              Navbar Logo Name                              */
  
/* -------------------------------------------------------------------------- */

.logo-name {
    color:      var(--fontColor);
    font-size:  24px;
}


/* -------------------------------------------------------------------------- */
  
/*                             Illustrations, bg                              */
  
/* -------------------------------------------------------------------------- */

#home {
  background-image:     url(/assets/img/illustrations/hero_bg_light.png);
  background-position:  right;
  background-repeat:    no-repeat;
}

.dark-theme #home {
  background-image:     url(/assets/img/illustrations/hero_bg_dark.png);
}


.illustration-blue-circle {
  position:             absolute;
  width:                80px;
  height:               80px;
  border-radius:        50%;
  top:                  141px;
  left:                 -39px;
  background:         #2D74FF;
}

@media (max-width: 767.98px) { 
  .illustration-blue-circle {
    left:   auto;
    right: -39px;
  }
 }

.illustration-red-circle {
  position:             absolute;
  width:                120px;
  height:               120px;
  border-radius:        50%;
  top:                  470px;
  left:                 770px;
  background:         #FF3E60;
}

.illustration-blue-circle-two {
  position:             absolute;
  width:                80px;
  height:               80px;
  border-radius:        50%;
  right:                228px;
  top:                  -100px;
  background:         #2D74FF;
}

.illustration-red-circle-two {
  position:             absolute;
  width:                120px;
  height:               120px;
  border-radius:        50%;
  left:                 -50px;
  top:                  100px;
  background:         #FF3E60;
}

.illustration-black-circle {
  position:           absolute;
  width:              40px;
  height:             40px;
  border-radius:      50%;
  top:                141px;
  left:               770px;
  background:       #EEF4F5;
}

.illustration-black-circle-two {
  position:           absolute;
  width:              64px;
  height:             64px;
  border-radius:      50%;
  top:                50px;
  left:               600px;
  background:       #EEF4F5;
}

.dark-theme .illustration-black-circle, .dark-theme .illustration-black-circle-two {
  background:       #151618;
}

#municio {
  background-image:     url(/assets/img/illustrations/municio_bg_light.png);
  background-position:  right;
  background-repeat:    no-repeat;
}

.dark-theme #municio {
  background-image:     url(/assets/img/illustrations/municio_bg_dark.png);
}

/* -------------------------------------------------------------------------- */
  
/*                             Dark / Light switch                            */
  
/* -------------------------------------------------------------------------- */
  
  
  
  .toggle-nav {
    display:                        flex;
  }
  
  .toggle-nav label {
    position:                       relative;
    display:                        inline-block;
    width:                          40px;
    height:                         20px;
    background-color:               #e1e1e1;
    border-radius:                  50px;
    transition:                     all 0.3s ease-in-out;
    cursor:                         pointer;
    box-shadow:                     inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-tap-highlight-color:    transparent;
    margin-bottom:                  0;
  }
  
  .toggle-nav label:before {
    content:                        "";
    position:                       absolute;
    height:                         20px;
    width:                          20px;
    background-color:               #fff;
    border-radius:                  46px;
    box-shadow:                     1px 1px 5px rgba(0, 0, 0, 0.1);
    transition:                     box-shadow 0.3s ease-in-out;
    animation:                      moveLeft 0.3s ease-in-out;
  }
  
  .toggle-nav input {
    display:                        none;
  }
  
  .toggle-nav input:checked + label {
    background-color:               #57de72;
  }
  
  .toggle-nav input:checked + label:before {
    transform:                      translateX(20px);
    box-shadow:                     -1px -1px 5px rgba(0, 0, 0, 0.1);
    animation:                      moveRight 0.3s ease-in-out;
  }
  @keyframes moveRight {
    0% {
        width:                      23px;
        transform:                  translateX(0);
   }
    45% {
        width:                      26px;
   }
    100% {
        width:                      23px;
        transform:                  translateX(20px);
   }
  }
  @keyframes moveLeft {
    0% {
        width:                      23px;
        transform:                  translateX(20px);
   }
    45% {
        width:                      26px;
   }
    100% {
        width:                      23px;
        transform:                  translateX(0);
   }
  }


/* -------------------------------------------------------------------------- */
  
/*                             Mobile menu squares                            */
  
/* -------------------------------------------------------------------------- */


  .squares {
    border:       none;
    opacity:      1;
    background:   transparent;
  }
  
  .square, .square:before, .square:after {
    position:           absolute;
    border-radius:      50%;
    width:              .75rem;
    height:             .75rem;
  }
  
  .square {
    margin-left:      -25px;
    background-color: #FF3E60;
  }
  
  .square:before, .square:after {
    content: "";
  }
  
  .square:before {
    right:            20px;
    transition:       right .3s ease-out;
    background-color: #2D74FF;
  }

  .mobile-offcanvas .square:before {
    background-color: #515758;
  }
  
  .square:after {
    background-color: #515758;
    left:               20px;
    transition:         left .3s ease-out;
  }

  .mobile-offcanvas  .square:after {
    background-color: #2D74FF;
  }
  
  .mobile-menu-squares-container:hover .square:before {
    right:          -20px;
  }
  
  .mobile-menu-squares-container:hover .square:after {
    left:           -20px;
  }



/* -------------------------------------------------------------------------- */

/*                              Code Editor Layout                            */

/* -------------------------------------------------------------------------- */


.window-editor-layout ul,ol {
    list-style-type:      none;
    margin:               0;
    padding:              0;
  }
  
  .window-editor-layout {
    width:                auto;
    height:               auto;
    margin:               auto;
    background-color:     var(--editorBackground);
    box-shadow:           var(--boxShadow);
    border-radius:        0 0 10px 10px;
  }
  
  .window-editor-layout .window-top {
    display:              flex;
    align-items:          center;
    height:               30px;
    background-color:     var(--editorWindowTop);
  }
  
  .window-editor-layout .window__controls {
    display:              inline-flex;
  }
  
  .window-editor-layout .window__controls span {
    width:                15px;
    height:               15px;
    margin-left:          10px;
    border-radius:        50%;
  }
  
  .window-editor-layout .window__controls span:nth-child(1) {
    background-color:   #ff0000;
  }
  
  .window-editor-layout .window__controls span:nth-child(2) {
    background-color:   #ffcc00;
  }
  
  .window-editor-layout .window__controls span:nth-child(3) {
    background-color:   #36dc0e;
  }
  
  .window-editor-layout.window-editor-layout .window__title {
    flex:                 1;
    text-align:           center;
    color:                var(--editorWindowText);
    border-radius:        10px 10px 0 0;
  }
  
  .window-editor-layout .window-main {
    padding:              0.5em;
    color:              #4e4e4e;
    text-align:           left;
  }
  
  .window-editor-layout .window-main ol {
    counter-reset:        item;
    font-family:          "Source Code Pro", monospace;
  }
  
  .window-editor-layout .window-main ol li {
    margin-bottom:        3px;
  }
  
  .window-editor-layout .window-main ol li:before {
    content:              counter(item) "  ";
    counter-increment:    item;
    padding:              0 10px;
    color:                var(--windowListText);
  }
  
  .window-editor-layout .tag {
    color:              #4d86b9;
  }
  
  .window-editor-layout .attr {
    color:              #8dc6e3;
  }
  
  .window-editor-layout .val {
    color:              #c58b74;
  }
  
  .window-editor-layout .text {
    color:                var(--windowText);
  }
  
  .window-editor-layout .comment {
    color:              #517343;
  }
  
  @media only screen and (max-width: 601px) {
  
      .window-editor-layout .window {
          width:              350px;
          height:             350px;
          font-size:          0.65em;
      }
  
      .window-editor-layout.window__controls span {
          width:              10px;
          height:             10px;
          margin-left:        5px;
      }
  
      .window-editor-layout .window-main ol li:before {
          padding:            0;
      }
  }
  
  .window-editor-layout .line {
      display:            contents;
  }

.code-editor-description {
  font-size: var(--secondaryTextSize)
}
  

/* -------------------------------------------------------------------------- */
  
/*                      Section swticher - Credit card                        */
  
/* -------------------------------------------------------------------------- */


.card-credit-card {
  width:              29rem;
  height:             17.65rem;
  border-radius:      12px 12px 0 0 ;
  background-color:   var(--cardBg);
}

@media (max-width: 991.98px) { 
  .card-credit-card {
    width:              21.438rem;
    height:             13.563rem;
    border-radius:      12px 12px 0 0 ;
  }
 }

@media (max-width: 767.98px) { 
  .card-credit-card {
    width:              21.438rem;
    height:             13.563rem;
    border-radius:      12px 12px 0 0 ;
  }
 }

@media (max-width: 575.98px) { 
  .card-credit-card {
    width:              100%;
    height:             -1px;
    border-radius:      12px 12px 0 0 ;
  }
 }

.credit-card-top { 
  padding:            32px 32px 16px 32px ;
}

.credit-card-bottom {
  height:             7.07rem; 
  padding:            16px 32px 32px 32px;
  color:            rgb(255, 255, 255);
  background:         var(--sectionMain);
  border-radius:      0 0 12px 12px;
}

.credit-card-logo {
  width:              52px;
  height:             16px;
}

.credit-card-data {
  font-family:        var(--creditCardFont);
  font-size:          1.15rem;
  color:              var(--cardTextColor);
}

@media (max-width: 575.98px) { 
  .credit-card-data {
    font-size:          12px;
 }
}

.credit-card-balance {
  font-family:        var(--creditCardFont);
  font-size:          1.5rem;
}

.credit-card-text {
  font-size:          var(--secondaryTextSize);
  color:              var(--secondaryTextColor);
}

.switch-btn {
  display:              block;
  background-color:     transparent;
  border:               0;
  margin-right:         .5rem;
}

.switch-btn button {
  border-radius:        50%;
  width:                40px;
  height:               40px;
  border:               none;
  box-shadow:           var(--boxShadow);
}

#switchSection{
  background:         var(--switchSectionBg);
}

.switch-btns #first-theme {
  background:   #FF3E60;
}

.switch-btns #second-theme {
 background:    #2D74FF;
}

.switch-btns #third-theme {
 background:    #484B4D;
}





/* -------------------------------------------------------------------------- */
  
/*                                 Accordions                                 */
  
/* -------------------------------------------------------------------------- */

.accordion-nav .nav-link {
  border:               2px solid #EEF4F5;
  padding:              24px;
  background-color:     var(--navBackgroundDark);
  border-radius:        var(--borderRadius);
}

.dark-theme .accordion-nav .nav-link {
  border:               2px solid #2F3235;
}

.accordion-nav .nav-link:hover {
  outline:              1px solid #EEF4F5;
  box-shadow:           0 0 2px 0 #EEF4F5, 0 0 2px #EEF4F5;
}

.dark-theme .accordion-nav .nav-link:hover {
  outline:              none;
  box-shadow:           none;
}

.accordion-nav .accordion--head {
  display:              block;
  font-size:            14px;
  font-weight:          600;
}

.accordion-nav .nav-link.active .accordion--head {
  margin-bottom:        8px;
}

.accordion-nav .accordion--content {
  font-size:            14px;
  font-weight:          400;
  margin:               16px 0 0;
  line-height:          24px;
  letter-spacing:       0em;
  text-align:           left;
  color:                var(--secondaryTextColor);
}



/* -------------------------------------------------------------------------- */
  
/*                               Backgrounds                                  */
  
/* -------------------------------------------------------------------------- */

.bg-gradient-sections {
  background:   var(--backgroundFirstSection);
}

.wrap--gradient {
  background:   var(--downSectionsBg);
}


/* -------------------------------------------------------------------------- */
  
/*                               Settings box                                 */
  
/* -------------------------------------------------------------------------- */

.settings-box--padding {
  padding:              40px;
}

.settings-box {
  max-width:            386px;
  background-color:     var(--navBackgroundDark);
  border-radius:        var(--borderShadowRadius);
  min-height:           464px;
  margin:               auto;
  box-shadow:           1px 2px 4px 0px #0000001A, 
                        12px 12px 24px 0px #0000001A, 
                        0px -2px 12px 0px #0000000D;
}

.settings-box--header {
  font-size:            16px;
  font-weight:          700;
  margin-bottom:        24px;
}

.settings-box p.text-muted {
  font-size:            0.9rem;
  margin:               0
}

.settings-box--input {
  outline:              none;
  border:               1px solid #adadad;
  box-shadow:           none;
  width:                100%;
  border-radius:        var(--borderRadius);
  height:               48px;
  background-color:     var(--navBackgroundDark);
}

.settings-box input::placeholder {
  padding:              0 10px;
}

.settings-box .form-inline {
  font-size:            0.85rem;
  margin-bottom:        0.5rem;
  margin:               0px 32px
}

.settings-box .input-checkbox{
  position:             relative;
  top:                  3px;
  height:               16px;
  width:                16px;
}

.settings-box--muted {
  font-size:            12px;
  margin-bottom:        28px;
}

.setting-box--text-main {
  font-size:            12px;
  color:                var(--fontColor);
  font-weight:          600;
  
}

.setting-box--text-muted {
  font-size:            12px;
  color:               #adadad;
  font-weight:           400;
  margin-top:            2px;
}

.settings-box .col-10 .pr-2 {
  display:              inline
}

.settings-box .btn--show-toast {
  font-size:            12px;
  padding:              9px 24px;
  background-color:     var(--navBackgroundDark);
  color:                var(--fontColor);
  border:               1px solid var(--fontColor);
  border-radius:        var(--borderRadius);
}

.settings-box .btn--cancel {
  font-size:            12px;
  padding:              9px 24px;
  font-weight:          400;
  color:                var(--fontColor);
  border:               1px solid #f1f1f1;
  border-radius:        var(--borderRadius);
  margin-right:         16px;
}


.settings-box .btn.mx-3:hover {
  background-color:    #0779e4;
  color:               #fff
}

@media(min-width: 300px) and (max-width:424px) {
.settings-box {
      min-height:       500px;
      margin:           10px
  }
}

/* -------------------------------------------------------------------------- */
  
/*                               Order tracking                               */
  
/* -------------------------------------------------------------------------- */


.steps-card {
  max-width:            386px;
  background-color:     var(--navBackgroundDark);   
  border-radius:        var(--borderShadowRadius);
  min-height:           450px;
}

.steps--card {
  padding: 40px;
}

.steps-container {
  margin-top:         3rem;
}

.step::before {
  content:            '';
  position:           absolute;
  border-left-style:  dashed;
  border-left-width:  1.5px;
  border-color:      #ADADAD;
  top:                18px;
  left:               21px;
  margin-left:        1px;
  width:              2px;
  height:             124%;
  z-index:            0;
}

.step:nth-last-child(1)::before{
  content: none;
}

.row-step {
  position: relative;
  bottom: 5px;
}

.step {
  position: relative;
  min-height: 1em;
  color: rgb(0, 0, 0);
}
.step--data {
  padding-left: 0;
}

.step--date {
  font-size:      10px;
  color:        #ADADAD;
}

.track-title {
  font-weight: 600;
  margin-bottom: 1rem;
}


.step--title {
  line-height: 1.5em;
  font-weight: 600;
  font-size: 12px
}

.caption {
  font-size: 0.8em;
  color: #ADADAD;;
}

.step + .step {
  margin-top: 2rem
}


.step > div:first-child {
  position: static;
  height: 0;
}


.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}

/* Circle */
.circle {
  background: gray;
  position: relative;
  width: 1em;
  height: 1em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}

.dark-theme .circle {
  box-shadow: none;
}


/* Vertical Line */
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.circle i {
  font-size: 10px;
    bottom: 5px;
    position: relative;
}

.step:last-child .circle:after {
  display: none
}

.step.step-active {
  color: #3DF27A
}
.step.step-active .circle {
  width: 1.25em;
  height: 1.25em;
  background-color: #3DF27A;
  left: -2px;
  border: 3px solid #b0ffcb;
}




/* -------------------------------------------------------------------------- */
  
/*                                   Toast                                    */
  
/* -------------------------------------------------------------------------- */

.toast {
  position:               fixed;
  right:                  0;
  bottom:                 2rem;
  width:                  auto;
  max-width:              100%;
  font-size:              0.85rem;
  pointer-events:         auto;
  background-color:       var(--navBackgroundDark);
  background-clip:        padding-box;
  -webkit-box-shadow:     6px 6px 12px 0px #0000001A;
  box-shadow:             6px 6px 12px 0px #0000001A;
  border-radius:          var(--borderRadius);
  -webkit-transition:     all .15s ease-out;
  -moz-transition:        all .15s ease-out;
  -o-transition:          all .15s ease-out;
  transition:             all .15s ease-out;
  z-index:                1;
  margin:                 0 10px;
}

@media (min-width: 768px) { 
  .toast {
    right:                  2rem;
    margin:                 0;
  }
 }

.toast:not(.showing):not(.show) {
  opacity: 0;
  z-index: 0;
}

.toast.hide {
  display: none;
}

.toast-container {
  max-width:          100%;
  pointer-events:     none;
}

.toast-container> :not(:last-child) {
  margin-bottom: 1rem;
}

.toast-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: #C3C1C8;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.toast-header .btn-close {
  margin-right: -0.375rem;
  margin-left: 0.75rem;
}

.toast-body {
  padding: 1.25rem 0.75rem;
  word-wrap: break-word;
}

.toast-body p {
  line-height: 20px;
  margin: 0;
}

.toast-body .toast-head {
  margin-bottom: .2rem;
}

.toast .bi.bi-x::before {
  color:       var(--fontColor);
}

.circle-status {
  width: 16px;
  height: 16px;
  background: rgb(0, 207, 17);
  border-radius: 50%;
  box-shadow: var(--boxShadow);
  margin-right: 1rem;
  transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(3, 102, 3, 0.459);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* -------------------------------------------------------------------------- */

/*                                 Fake toast                                 */
 
/* -------------------------------------------------------------------------- */

.fake-toast {
  width:                  auto;
  height:                 122px;
  max-width:              100%;
  padding:                32px; 
  font-size:              0.875rem;
  pointer-events:         auto;
  background-color:       var(--navBackgroundDark);
  background-clip:        padding-box;
  -webkit-box-shadow:     var(--boxShadow);
  box-shadow:             var(--boxShadow);
  border-radius:          var(--borderShadowRadius);
}

.fake-toast--pimp {
  height: 186px;
}

.fake-toast:not(.showing):not(.show) {
  opacity:                0;
}

.fake-toast.hide {
  display:                none;
}

.fake-toast-container {
  max-width:              100%;
  pointer-events:         none;
}

.fake-toast-container> :not(:last-child) {
  margin-bottom:          1rem;
}

.fake-toast-header {
  margin-bottom:           16px;
  display:                 -webkit-box;
  display:                 -ms-flexbox;
  display:                 flex;
  -webkit-box-align:       center;
  -ms-flex-align:          center;
  align-items:             center;
  font-size:               16px;
  font-weight:             600;
  color:                   var(--fontColor);
  background-color:        var(--navBackgroundDark);
  background-clip:         padding-box;
  border-top-left-radius:  calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.fake-toast-body {
  word-wrap:                break-word;
}

.fake-toast-body p {
  line-height:              20px;
  margin:                   0;
}

.fake-toast-body .fake-toast-head {
  margin-bottom:            .2rem;
}


/* -------------------------------------------------------------------------- */
  
/*                                 Progress bar                               */
  
/* -------------------------------------------------------------------------- */

.bar-container {
  background:    #f0f0f0;
  height:         16px;
  width:          100%;
  border-radius:  10px;
}

.bar {
  background:    #00F260;  /* fallback for old browsers */
  background:     -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background:     linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:         16px;
  width:          0%;
  border-radius:  10px;
  transition:     width 400ms;
}

.bar-success {
  display:          block;
  height:           100%;
  background:       linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
  background-size:  300% 100%;
  height:           16px;
  width:            100%;
  border-radius:    10px;
  animation:        progress-animation 2s linear infinite;
}

@keyframes progress-animation {
  0%    {background-position: 100%;}
  100%  {background-position: 0;}
}

.btn-push {
  font-size:        var(--subTextInfo);
  color:            var(--fontColor);
  border:           2px solid #1F2123;
  border-radius:    var(--borderRadius);
  margin:           24px 0 0;
  padding:          9px 24px;
}

.btn-push:hover {
  color: inherit;
}

#textProgress {
  margin:           24px 0 0;
}


/* -------------------------------------------------------------------------- */

/*                               Cookies Layout                               */
 
/* -------------------------------------------------------------------------- */




@media (min-width: 768px) { 
  .toast-cookie {
    width: 27rem;
    height: 5.15rem;
  }
 }

.toast-icon {
  width: 32px;
}

/* -------------------------------------------------------------------------- */
  
/*                             Projects page                                  */
  
/* -------------------------------------------------------------------------- */

.projects-background {
  background:   linear-gradient(180deg, rgba(242, 248, 250, 0) 0%, #E9ECF0 100%);
}

.dark-theme .projects-background {
  background:   var(--black);
}

/* -------------------------------------------------------------------------- */
  
/*                             Project cards                                  */
  
/* -------------------------------------------------------------------------- */

.project-section{
  padding: 10rem 0 20rem;
}

.project-card {
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  background-color: var(--navBackgroundDark);
  padding:          32px;
  border-radius:    20px;
  border:           1px solid #E3EAF0;
  margin-bottom:    1rem;
  z-index:          5000;
  height:           107px;
}

.dark-theme .project-card {
  border: 0;
}

.project-card h5 {
  font-size:        16px;
}

.project-icon {
  font-size:        22px;
  font-weight:      600;
  color:          #DDE1E3
}

.project-card:hover .project-icon {
  color:                #35BAFF;
  -webkit-text-stroke:  .5px #35BAFF;
}



